
ghostdriver.log
*.xlsx
vkcc.py
scratch
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/dataSources/6b77d694-a9bf-4227-9e21-64c552b6405f.xml
.idea/deployment.xml
.idea/libraries/R_User_Library.xml
.idea/misc.xml
.idea/modules.xml
.idea/vkcoin.iml
.idea/vcs.xml
.idea/workspace.xml
__pycache__/autobot.cpython-37.pyc
__pycache__/config.cpython-37.pyc
app/main.html
app/polyfill.js
app/static/css/5.47146219.chunk.css
app/static/js/37d6fe1fee6fb6accf5867cbca2cda9c.js
app/static/js/63cc894c1323b715b7b33772086e4b56.js
app/static/js/5.c2bb25b5.chunk.js
app/static/js/8afc6fda89c949d8a6d98f6fbcc1090c.js
app/static/js/main.7a5d65e6.chunk.js
auth_vk.py
*.pyc
bot/main.py
bot/sql.py
Calculate.xlsm
config.secret.py
*.py
app/static/css/main.0dde5416.chunk.css
